[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
networkx = "*"


[dev-packages]

pylint = "*"
"flake8" = "*"
"autopep8" = "*"
rope = "*"
coverage = "*"
